html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    background: linear-gradient(to bottom right, #FF7043, #FBC02D);
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;
}
header{
    display: flex;  
}
#menuMobile{
    display: none;
    justify-content: center;
}
#menuMobile button{
    margin: 15px;
    color: #333;
    background: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#menuMobile h1{
    font-size: 6px;
}
.menu{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.menu button{
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15pt;
    font-family: 'arial', sans-serif;
    margin-top: 20px;
    cursor: pointer; 
    transition: 0.3s;
    outline: none;
}
.menu button:hover{
    color: #ccc;
}
.imgLogo{
    position: absolute;
    display: block;
    background: #fff;
    border: 10px solid #fff;
    border-left: 15px solid #fff;
    border-radius: 8px;
    margin-left: -20px;
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
    float: none;
}
.imgLogo:hover{
    border-left: 40px solid #fff;
}
#conteudo h1{
    display: flex;
    font-family: sans-serif;
    color: #fff;
    margin-top: 10%;
    justify-content: center;

}
#conteudo h2{
    display: flex;
    font-family: sans-serif;
    color: #fff;
    margin-top: 5%;
    justify-content: center;

}
#txt1{
    display: flex;
    font-family: sans-serif;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
    margin-top: 3%;
}
#txt2{
    display: flex;
    font-family: sans-serif;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
    margin-top: 3%;
}
#txt3{
    display: flex;
    font-family: sans-serif;
    color: #fff;
    justify-content: center;
    text-align: left;
    font-size: 15pt;
    margin-top: 3%;
@media only screen and (max-width: 600px) {
    body{
        display: flex;
        justify-content: center;
    }
    #menuMobile{
        display: flex;
    }
    .logo{
        display: none;
    }
    header {
        display: none;
    }
    .menu{
        flex-direction: column;
    }
    .menu button{
        color: #333;
    }
    .logo{
        opacity: 0;
    }

}